* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

@mixin creamBG {
    background-color: #F4EEEE;
}

@mixin creamFont {
    color: #F4EEEE;
}

@mixin grayBG {
    background-color: #2B2A2A;
}

@mixin grayFont {
    color: #2B2A2A;
}

body {
    @include creamBG;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Condensed', sans-serif;
}

p, ul {                         
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;          //CHANGE TO SOMETHING ELSE, MAYBE THINNER???
}

img {
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    //margin-left: 10px;
    border: none;
    @include creamBG;
    font-size: 16px;
    border-radius: 5px;

    a {
        color: #2B2A2A;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
}

#indexContainer {
    display: grid;
    grid-template-areas:
    "header header header header"
    "title title title title"
    "about about about about"
    "preview preview preview preview"
    "contact contact contact contact"
    "btt btt btt btt"
    "footer footer footer footer"
    ;

    header {
        grid-area: header;
        @include grayBG;
        position: fixed;
        top: 0;
        width: 100%;
        border-bottom: 0.5px solid #F4EEEE;
       

        nav {
            margin-bottom: -10px;

            #hambMenu {
                display: none;
            }

            #logo {
                width: 50px;
                height: 100px;
            }

            ul {
                list-style-type: none;
                margin-top: 35px;
                float: right;
                margin-right: 50px;
            }

            li {
                display: inline;
                padding-left: 30px;
            }

            a {
                @include creamFont;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    #title {
        grid-area: title;
        background: url("../images/flowersBGoverlay.png");
        background-size: cover;
        padding: 70px;
        @include creamFont;
        

        h1 {
            font-size: 150px;
            padding-left: 150px;
            line-height: 130px;
            margin-top: 60px;
        }

        p {
            padding-left: 160px;
        }

        button {
            margin-left: 160px;
        }
    }

    #about {
        grid-area: about;
        padding: 70px;
        content: "";
        display: table;
        clear: both;

        #column {
            float: left;
            width: 50%;

            img {
                width: 350px;
                height: auto;
            }
            
        h2 {
            padding-left: 150px;
        }

        p { 
            margin-top: 10px;
            padding-left: 150px;
            width: 90%;
            line-height: 24px;
            font-size: 16px;
        }

        #readMore, #readLess {
            display: none;
        }
        }
    }

    #preview {
        grid-area: preview;
        @include grayBG;
        @include creamFont;
        padding: 70px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        h2 {
            padding-left: 150px;
            margin-bottom: 10px;
        }

        #projects {
            content: "";
            display: table;
            clear: both;

            #projectInfo {
                float: left;
                width: 50%;
                margin-bottom: 80px;
                margin-top: 10px;
                padding-left: 150px;

                h3 {
                    padding-top: 5px;
                    padding-bottom: 10px;
                }

                p{
                    padding-bottom: 10px;
                    line-height: 20px;
                    width: 90%;
                }

                img {
                    width: 400px;
                    height: auto;
                }
            }
        }

        #courses {
            padding-left: 150px;

            #course{
                margin-bottom: 30px;

                ul {
                    list-style-type: none;
                    //margin-bottom: 20px;
                    //margin-top: -70px;
                    //float: right;
                    padding: 10px;
    
                    li {
                        padding: 10px;
                        font-size: 16px;
                    }
    
                    a {
                        @include creamFont;
                        text-decoration: none;
                    }
    
                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    
    }

    #contact {
        grid-area: contact;
        padding: 70px;
        content: "";
        display: table;
        clear: both;

        h2 {
            padding-bottom: 30px;
            padding-left: 150px;
        }

        #column {
            float: left;
            width: 40%;
            padding-left: 150px;

            form {
                font-family: Arial, Helvetica, sans-serif;

                label {
                    display: block;
                }
                  
                input[type="text"],
                input[type="email"],
                textarea {
                width: 100%;
                margin-bottom: 10px;
                padding: 10px;
                border: 1px solid #2B2A2A;
                border-radius: 5px;
                }

                #subject{
                    display: none;
                }
                  
                textarea {
                resize: vertical;
                border-radius: 5px
                }
                  
                input[type="submit"] {
                @include grayBG;
                @include creamFont;
                padding: 10px 20px;
                border: 1px solid #2B2A2A;
                cursor: pointer;
                font-size: 16px;
                transition: background-color 0.3s ease;
                text-decoration: none;
                border-radius: 5px;
                }



                input[type="reset"] {
                    @include creamBG;
                    @include grayFont;
                    padding: 10px 20px;
                    border: 1px solid #2B2A2A;
                    cursor: pointer;
                    font-size: 16px;
                    transition: background-color 0.3s ease;
                    text-decoration: none;
                    border-radius: 5px;
                }
                  
                input[type="submit"]:hover {
                    //box-shadow: 5px 5px 10px #888888;
                    text-decoration: underline;
                }  

                input[type="reset"]:hover {
                    //box-shadow: 5px 5px 10px #888888;
                    text-decoration: underline;
                }
            }

            img[alt~="queen"]{
                width: 400px;
                height: 400px;
            }

            img[alt~="icon"]{
                width: 60px;
                height: 60px;
                margin-top: 20px;
            }
        }
    }

    #btt {
        grid-area: btt;
        @include creamBG;
        padding: 50px;
        display: block;
        margin-right: auto;
        margin-left: auto;

        img {
            width: 50px;
            height: 50px;
        }
    }

    footer {
        grid-area: footer;
        @include grayBG;
        @include creamFont;
        padding: 20px;

        #logo {
            width: 100px;
            height: 200px;
            display: block;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: -30px;
        }

        nav {
            text-align: center;
            ul {
                text-align: center;
                list-style-type: none;
                //margin-bottom: 15px;
                margin-top: 20px;
            }

            li {
                display: inline;
                padding: 30px;
            }

            a {
                @include creamFont;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            img {
                width: 60px;
                height: 60px;
                margin: 10px;
            }

            p {
                padding: 20px;
            }
        }
    }
}